.subdiv {
  position: relative;
}

.subdiv__title, .month__title {
  display: inline-block;
}

.list_hidden {
  display: none;
}

.subdiv__title:hover, .month__title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.month__title {
  position: relative;
  left: 20px;
}

.month__link {
  position: relative;
  left: 50px;
}

